[Unit]
Description=forked daapd overlay cache service
Before=forked-daapd.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/forked-daapd-cache.sh start
ExecStop=/usr/sbin/forked-daapd-cache.sh stop
RemainAfterExit=true

[Install]
RequiredBy=forked-daapd.service forked-daapd-headphones.service
