[Unit]
Description=MOCP random play service

[Service]
ExecStart=/usr/local/bin/mocp-rand.sh start
ExecStop=/usr/local/bin/mocp-rand.sh stop
#Restart=on-abort
#KillMode=none
TimeoutStopSec=60
#KillSignal=SIGCHLD

[Install]
WantedBy=multi-user.target
